# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/

# Data
data/*
!data/.gitignore
!data/sample/
!data/sample/.gitkeep

# Env
.env
.env.*
!.env.example

# Artifacts
/models/
data/delta/
*.duckdb
dbt/target/
dbt/logs/
.terraform/
*.tfstate*
*.user.yml
